* {
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    text-align: center;
}


body {
    margin: 0 auto;
}

aside {
    display: flex;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: center;
}

.box {
    height: 250px;
    width: 250px;
    border: 2px solid green 
}

.btm {
    text-align: center;
    padding-top: 50px;
}

.link {
    background-image: url(https://www.zeldadungeon.net/wiki/images/thumb/f/fd/Link.png/400px-Link.png);
    background-size: 246px 246px;
}

.zelda {
    background-image: url(https://static.wikia.nocookie.net/p__/images/c/c2/HWAoC_Zelda_Artwork.png/revision/latest?cb=20201102173619&path-prefix=protagonist);
    background-size: 246px 246px;
}