* {
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    text-align: center;
}
@font-face {
    font-family: Zelda;
    src: url(./TheWildBreathOfZelda-15Lv.ttf);
}
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
body {
    margin: 0 auto;
    background-image: url(https://chaosmechanica.files.wordpress.com/2012/12/legend-of-zelda-triforce.jpg?w=848);
    background-size: cover;
    font-family: Zelda;
}
 body img {
    opacity: 20%;
    background-repeat:no-repeat
 }
aside {
    display: flex;
    justify-content: space-around;
    margin: 0 auto; 
}

.row{
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
}

.box {
    height: 250px;
    width: 250px;
    border: 2px solid green;
    color: rgba(0, 0, 0, 0.5)
    
}

.btm {
    text-align: center;
    padding-top: 50px;
}

.link {
    background-image: url(https://www.zeldadungeon.net/wiki/images/thumb/f/fd/Link.png/400px-Link.png);
    background-size: 246px 246px;
}

.zelda {
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/3/2022/10/Zelda-series-on-Netflix-f070bf9.jpg);
    background-size: 246px 246px;
}

.result {
    font-size: 2rem;
    color: green;
    text-align: center;
}